*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: azure;
}
body{
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    padding: 30px 100px 24px 70px ;
    font-family: 'Lato', sans-serif;
}
.quatro{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
}
main{
    display: grid;
}
.logo{
    width: 400px;
}
.info{
    font-size: 15px;
    width: 450px;
}
.links{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.trailer {
    width: 200px;
}
.redes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 1150px;
    background-color: lawngreen;
    height: 100%;
}